<div class="company-contacts">

  <section class="company-contacts__hero">
    <div class="container">
      <h1 class="page-title">Контакты <em class="rm-brand"><span class="rm-rub">РУБ</span><span class="rm-master">МАСТЕР</span></em></h1>
    </div>
  </section>

  <section class="company-contacts__info">
    <div class="container">
      <div class="company-contacts__layout">

        <div class="company-contacts__details">
          @for (item of contacts; track item.label) {
            <div class="contact-item">
              <span class="contact-item__label">{{ item.label }}</span>
              @if (item.href) {
                <a [href]="item.href" class="contact-item__value contact-item__value--link">
                  {{ item.value }}
                </a>
              } @else {
                <span class="contact-item__value">{{ item.value }}</span>
              }
            </div>
          }
        </div>

        <div class="company-contacts__map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?ll=40.3832&z=14&text=г.+Владимир+ул.+Полины+Осипенко+58"
            title="Карта РубМастер"
            frameborder="0"
            allowfullscreen
            loading="lazy">
          </iframe>
        </div>

      </div>
    </div>
  </section>
</div>
